{% if update_status.yum_full is defined %}
  <tr>
    <td><pre>{{ ansible_hostname | lower }}.{{ ansible_domain | lower }}</pre></td>
    <td><pre>{{ row.task }}</pre></td>
  {% if update_status.yum_full.rc == 0 %} 
  	<td bgcolor="#009900"><pre>PASSED</pre></td> 
  {% else %} 
  	<td  bgcolor="#FFFF00"><pre>FAIL</pre></td>
  {% endif %}
  </tr>
{% endif %}
